@import "tailwindcss";

.spark-wrap {
  position: relative;
  display: inline-block;
}

.spark-btn {
  position: relative;
  z-index: 2;
  border-radius: 12px;
}

/* SVG overlay */
.spark-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

.spark-rect {
  fill: none;
  stroke: url(#sparkGrad);
  stroke-width: 5;
  stroke-linecap: round;
  filter: url(#glow);

  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  rx: 12;
  ry: 12;

  stroke-dasharray: 90 500;
  animation: sparkRun 1.8s linear infinite;
}

@keyframes sparkRun {
  to {
    stroke-dashoffset: -590;
  }
}

.btn{
  width:170px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 10px 5px 10px 10px;
  border-radius:10px;
  opacity:80%;
  font-size:24px;
  font-weight:bold;
  letter-spacing: 1px;
}

.btn-t{

   width:200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 10px 5px 10px 10px;
  border-radius:10px;
  opacity:80%;
  font-size:24px;
  font-weight:bold;
  letter-spacing: 1px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

 .sh{
  text-shadow: 1px -2px 4px 4px rgb(8, 8, 8);
  opacity:60%;
 }